<!-- 
<div class="user-form">

    <p>{{ isUpdated ? "Edit User" : "Add User" }}</p>

    <form action="">
        <label for="name">Name</label>
        <input type="text" id="name" required [(ngModel)]="userName" name="uName" #name="ngModel"><br><br>
        <ng-container *ngIf="name.invalid && (name.dirty || name .touched)">
            <p style="color:red">Name is empty</p>
        </ng-container>

        <label for="email">Email</label>
        <input type="text" id="email" required [(ngModel)]="email" #mail="ngModel" [ngModelOptions]="{standalone:true}"><br><br>
        <ng-container *ngIf="mail.invalid">
            <p style="color: red;">Email is empty</p>
        </ng-container>

        <label for="address">Address</label>
        <input type="text" id="address" [(ngModel)]="address" name="uAdd"><br><br>

        <button [disabled]="name.invalid" *ngIf="!isUpdated" (click)="createUser()">Submit</button>
        <button *ngIf="isUpdated" (click)="updateUser()">Submit</button>
    </form> -->
<!-- </div> -->


<div class="user-form">

    <h3 style="color: blue ;">{{ isUpdated ? "Edit User" : "Add User" }}</h3>

    <form action="" [formGroup]="user">

        <br><label for="name">Name</label><br>
        <input type="text" id="name" name="name" required formControlName="name" pInputText>    <br><br>

        <ng-container *ngIf="form['name'].invalid && (form['name'].touched || form['name'].dirty)">
            <span *ngIf="name.errors?.required" style="color:red">Name is required</span>
            <span *ngIf="name.errors?.minlength" style="color:red">Needs 4+ characters</span>
        </ng-container>

        <br><label for="email">Email</label><br>
        <input type="text" id="email" name="email" formControlName="email" pInputText> <br><br>

        <ng-container *ngIf="form['email'].invalid && (form['email'].touched || form['email'].dirty)">
            <span *ngIf="form['email'].errors?.required" style="color:red">email is required</span>
            <span *ngIf="form['email'].errors?.minlength" style="color:red">minimum 8+ characters</span>
        </ng-container>

        <br><label for="address">Address</label><br>
        <input type="text" id="address" name="uAdd" required formControlName="message" pInputText> <br><br>

        <br><button [disabled]="user.invalid && user.touched" pButton *ngIf="!isUpdated" (click)="createUser()" label="SUBMIT"></button>
        <button [disabled]="user.invalid && user.touched" pButton *ngIf="isUpdated" (click)="updateUser()" label="SUBMIT"></button>
    </form>
</div>