td {
    padding: 20px;
}


// .list{
//   .p-datatable .p-datatable-tbody > tr > td {
//         text-align: left;
//         border: 1px solid #dee2e6;
//         border-width: 0 0 1px 0;
//         padding: 0;
//         padding-left: 55px;
//     }
//     .thead.p-datatable-thead{
//         th{
//             padding-right: 60px;
//         }
//     }
// }

.p-button{
    height: 30px;
    //width:100px;
    font-weight: 100;
}
